article {
    display: grid;
    grid-template:
        "one one one" 200%
        "two three four" 200%
        "five six six" 200%;

    align-items: auto;
}

body {
    background-color: sandybrown;
}
